<button *ngIf="!showTOC" mat-fab color="basic" (click)="toggelTOC()" class="mapLoader">
  <mat-icon>filter_none</mat-icon>
</button>
<mat-card *ngIf="showTOC" class="example-card">
  <div class="closeModal" (click)='toggelTOC()' title="Close">&times;</div>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Keller-MTS AG</mat-card-title>
    <mat-card-subtitle>Gewerbegebiet Project</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="cardContent">
    <h2>Layers</h2>
    <div class="cardContent">
      <mat-checkbox class="chkBoxContent" [checked]="asDesignedChecked" (change)='LoadAsDesignedLayer($event)'>Design
        Layer</mat-checkbox><br>
      <mat-checkbox class="chkBoxContent" [checked]="asBuitChecked" (change)='LoadAsBuiltLayer($event)'>Placed Layer
      </mat-checkbox>
    </div>
    <h2>Tools</h2>
    <div class="cardContent">
      <mat-button-toggle-group>
        <mat-button-toggle value='Satellite' [checked]="SatelliteSelected" (change)='SwitchBaseMap($event)'>Satellite
          Imagery</mat-button-toggle>
        <mat-button-toggle value='Street' [checked]="StreetSelected" (change)='SwitchBaseMap($event)'>Street Map
        </mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-stroked-button class="threeD" (click)="threeDView()">Switch View</button>
      <button mat-stroked-button class="Rotate" (click)="rotate90()">Rotate</button>
      <button mat-stroked-button class="zoomExtend" (click)="zoomExtend()">Zoom Extend</button>
    </div>
  </mat-card-content><br>
</mat-card>
<div id="map" style="height: 100vh; width: 100vw"></div>